.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to bottom, #0066b2, #00579d); */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 350px;
  width: 100%;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h2 {
  color: #00579d;
  margin-bottom: 10px;
}

.input-cpf {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

small {
  display: block;
  margin-bottom: 20px;
  color: #666;
  font-size: 12px;
}

.btn-acessar {
  background-color: #f7931e;
  color: white;
  border: none;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-acessar:hover {
  background-color: #e57f06;
}

.btn-acessar {
  background-color: #f7931e;
  color: white;
  border: none;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-acessar:hover {
  background-color: #e57f06;
}